html, body{
    height: 100%;
    margin: 0;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    margin: auto;
    position: relative;
  }
  

/*NAVIGATION*/
.navigation {
    background-color: black;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    border-bottom: 1px solid grey;
    width: 960px;
    margin: 0 auto;
}

li {
    float:right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.name{
    background-color:#4aaaa5;
    color:white;
}

/*CONTENT SECTION*/
.content {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 50px;
}

/*FOOTER*/

/*
.footer{
    position: fixed;
    background-color: black;
    text-align: center;
    color: grey;
    width: 100%;
    height: 50px;
    bottom:0;
    margin-top: -50px;
}
*/

.footer {
    background-color: black;
    text-align: center;
    color: grey;
     width: 100%;
     height: 50px;
     position: absolute;
     bottom: 0;
     margin-top: -50px;
   }
